<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>User edit</title>
</head>
<body>
<h1 Change password for user sec:authentication="name"/>
<p th:text="${exceptionMessage}"/>
<form method="post" th:action="@{/user/password/save}" th:object="${passwordDto}">

    <label>
        Actual password:
        <input type="password" th:field="*{actualPassword}"/>
    </label>
    <label>
        New password:
        <input type="password" th:field="*{newPassword}"/>
    </label>
    <label>
        Repeat new password:
        <input type="password" th:field="*{newRepeatedPassword}"/>
    </label>

    <button type="submit">Change password</button>
</form>

<a th:href="@{/user/panel}">Return to user panel</a>
<p><b>Logged as (thymeleaf):</b></p>
<p sec:authentication="name"></p>
</body>
</html>